src/main/resources/form_template/vat/declaration_11_3q2016/v2016/NO_NDS.11_1_003_06_05_04_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by KCV (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="‘айл">
        <xs:annotation>
            <!---**************************************************************************************************************************************************************************-->
            <xs:appinfo>
                <sch:pattern name="ѕроверка имени файла на соответствие значению атрибута @»д‘айл">
                    <sch:rule context="‘айл">
                        <!--  “абл.4.1. ѕроверка имени файла на соответствие »д‘айл                                                                             -->
                        <sch:assert test="usch:getFileName() = @»д‘айл">
                            <usch:error code="0400400007" path="@»д‘айл" value-of-select="@»д‘айл" doc-id-path="usch:getFileName()" doc-id-caption="‘айл">»м€ файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента »д‘айл "<usch:value-of select="@»д‘айл"/>"</usch:error>
                        </sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
            <!---**************************************************************************************************************************************************************************-->
            <xs:documentation>‘айл обмена</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ƒокумент">
                    <xs:annotation>
                        <!---*********************************************************************************************************************************************************-->
                        <xs:appinfo>
                            <sch:pattern name="ѕрисутствие признака актуальности сведений">
                                <sch:rule context="ƒокумент">
                                    <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ѕризн—вед11  в  зависимости  от  значени€  Ќом орр  -->
                                    <sch:assert test="usch:iif(@Ќом орр=0, count(@ѕризн—вед11)=0, count(@ѕризн—вед11)!=0)">
                                        <usch:error code="0400300003" path="@ѕризн—вед11" value-of-select="@Ќом орр">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/ѕризн—вед11 при значении элемента Ќом орр, равном "<usch:value-of select="@Ќом орр"/>".</usch:error>
                                    </sch:assert>
                                </sch:rule>
                            </sch:pattern>
                        </xs:appinfo>
                        <!---*********************************************************************************************************************************************************-->
                        <!---*********************************************************************************************************************************************************-->
                        <xs:appinfo>
                            <sch:pattern name="ѕрисутствие ∆”чѕолуч—ч‘ в  зависимости  от  значени€ ѕризн—вед11">
                                <sch:rule context="ƒокумент">
                                    <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ∆”чѕолуч—ч‘ в  зависимости  от  значени€ ѕризн—вед11  -->
                                    <sch:assert test="(count(@ѕризн—вед11)!=0 and @ѕризн—вед11=0 and count(∆”чѕолуч—ч‘)!=0) or (count(@ѕризн—вед11)!=0 and @ѕризн—вед11=1 and count(∆”чѕолуч—ч‘)=0) or (count(@ѕризн—вед11)=0 and (count(∆”чѕолуч—ч‘)=0 or count(∆”чѕолуч—ч‘)!=0))">
                                        <usch:error code="0400300003" path="∆”чѕолуч—ч‘" value-of-select="count(∆”чѕолуч—ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘ при значении элемента ѕризн—вед11, равном "<usch:value-of select="@ѕризн—вед11"/>".</usch:error>
                                    </sch:assert>
                                </sch:rule>
                            </sch:pattern>
                        </xs:appinfo>
                        <!---*********************************************************************************************************************************************************-->
                        <xs:documentation>—остав и структура документа</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="∆”чѕолуч—ч‘" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>—ведени€ из журнала учета полученных счетов-фактур в отношении операций, осуществл€емых в интересах другого лица на основе договоров комиссии, агентских договоров или на основе договоров транспортной экспедиции, отражаемых за истекший налоговый период</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="∆”чѕолуч—ч‘—тр" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <!---**********************************************************************************************************************************************-->
                                                <xs:appinfo>
                                                    <sch:pattern name="ѕрисутствие сведений о представителе">
                                                        <sch:rule context="∆”чѕолуч—ч‘—тр">
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  Ќом»спр—ч‘ в  зависимости  от наличи€  ƒата»спр—ч‘  -->
                                                            <sch:assert test="usch:iif(count(@ƒата»спр—ч‘)!=0, count(@Ќом»спр—ч‘)!=0, (count(@Ќом»спр—ч‘)!=0 or count(@Ќом»спр—ч‘)=0))">
                                                                <usch:error code="0400300001" path="@Ќом»спр—ч‘" value-of-select="count(@Ќом»спр—ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/Ќом»спр—ч‘ при наличии элемента ƒата»спр—ч‘.</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ƒата»спр—ч‘ в  зависимости  от наличи€  Ќом»спр—ч‘  -->
                                                            <sch:assert test="usch:iif(count(@Ќом»спр—ч‘)!=0, count(@ƒата»спр—ч‘)!=0, (count(@ƒата»спр—ч‘)!=0 or count(@ƒата»спр—ч‘)=0))">
                                                                <usch:error code="0400300001" path="@ƒата»спр—ч‘" value-of-select="count(@ƒата»спр—ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/ƒата»спр—ч‘ при наличии элемента Ќом»спр—ч‘.</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  Ќом —ч‘ѕрод в  зависимости  от наличи€  ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ -->
                                                            <sch:assert test="usch:iif( count(@ƒата —ч‘ѕрод)!=0 or count(@Ќом»спр —ч‘)!=0 or count(@ƒата»спр —ч‘)!=0 , count(@Ќом —ч‘ѕрод)!=0, (count(@Ќом —ч‘ѕрод)!=0 or count(@Ќом —ч‘ѕрод)=0))">
                                                                <usch:error code="0400300001" path="@Ќом —ч‘ѕрод" value-of-select="count(@Ќом —ч‘ѕрод)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/Ќом —ч‘ѕрод при наличии одного из элементов: ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘.</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ƒата —ч‘ѕрод в  зависимости  от наличи€  Ќом —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ -->
                                                            <sch:assert test="usch:iif(count(@Ќом —ч‘ѕрод)!=0 or count(@Ќом»спр —ч‘)!=0 or count(@ƒата»спр —ч‘)!=0 , count(@ƒата —ч‘ѕрод)!=0, (count(@ƒата —ч‘ѕрод)!=0 or count(@ƒата —ч‘ѕрод)=0))">
                                                                <usch:error code="0400300001" path="@ƒата —ч‘ѕрод" value-of-select="count(@ƒата —ч‘ѕрод)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/ƒата —ч‘ѕрод при наличии одного из элементов: Ќом —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘..</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  Ќом»спр —ч‘ в  зависимости  от наличи€  ƒата»спр —ч‘  -->
                                                            <sch:assert test="usch:iif(count(@ƒата»спр —ч‘)!=0, count(@Ќом»спр —ч‘)!=0, (count(@Ќом»спр —ч‘)!=0 or count(@Ќом»спр —ч‘)=0))">
                                                                <usch:error code="0400300001" path="@Ќом»спр —ч‘" value-of-select="count(@Ќом»спр —ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/Ќом»спр —ч‘ при наличии элемента ƒата»спр —ч‘.</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  ƒата»спр —ч‘ в  зависимости  от наличи€  Ќом»спр —ч‘  -->
                                                            <sch:assert test="usch:iif(count(@Ќом»спр —ч‘)!=0, count(@ƒата»спр —ч‘)!=0, (count(@ƒата»спр —ч‘)!=0 or count(@ƒата»спр —ч‘)=0))">
                                                                <usch:error code="0400300001" path="@ƒата»спр —ч‘" value-of-select="count(@ƒата»спр —ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/ƒата»спр —ч‘ при наличии элемента Ќом»спр —ч‘.</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  —умЌƒ——ч‘ в  зависимости  от наличи€ Ќом —ч‘ѕрод   или  ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ -->
                                                            <sch:assert test="usch:iif((count(@Ќом —ч‘ѕрод)!=0 or count(@ƒата —ч‘ѕрод)!=0 or count(@Ќом»спр —ч‘)!=0 or count(@ƒата»спр —ч‘)!=0) ,  (count(@—умЌƒ——ч‘)!=0 or count(@—умЌƒ——ч‘)=0)  , count(@—умЌƒ——ч‘)!=0)">
                                                                <usch:error code="0400300001" path="@—умЌƒ——ч‘" value-of-select="count(@—умЌƒ——ч‘)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/—умЌƒ——ч‘ при наличии одного из элементов: Ќом —ч‘ѕрод или ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘..</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  –аз—т —ч‘”м в  зависимости  от наличи€ Ќом —ч‘ѕрод   или  ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ или –аз—т —ч‘”в -->
                                                            <sch:assert test="usch:iif( ((   count(@Ќом —ч‘ѕрод)=0 and count(@ƒата —ч‘ѕрод)=0 and count(@Ќом»спр —ч‘)=0 and count(@ƒата»спр —ч‘)=0   )  or  (count(@–аз—т —ч‘”в)!=0)) ,  (count(@–аз—т —ч‘”м)!=0 or count(@–аз—т —ч‘”м)=0)  , count(@–аз—т —ч‘”м)!=0) ">
                                                                <usch:error code="0400300001" path="@–аз—т —ч‘”м" value-of-select="count(@–аз—т —ч‘”м)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/–аз—т —ч‘”м при наличии (отсутствии) элементов: Ќом —ч‘ѕрод или ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ или –аз—т —ч‘”в.</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  –аз—т —ч‘”в в  зависимости  от наличи€ Ќом —ч‘ѕрод   или  ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ или –аз—т —ч‘”м -->
                                                            <sch:assert test="usch:iif( ((count(@Ќом —ч‘ѕрод)=0 and count(@ƒата —ч‘ѕрод)=0 and count(@Ќом»спр —ч‘)=0 and count(@ƒата»спр —ч‘)=0)  or  (count(@–аз—т —ч‘”м)!=0)) ,  (count(@–аз—т —ч‘”в)!=0 or count(@–аз—т —ч‘”в)=0)  , count(@–аз—т —ч‘”в)!=0) ">
                                                                <usch:error code="0400300001" path="@–аз—т —ч‘”в" value-of-select="count(@–аз—т —ч‘”в)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/–аз—т —ч‘”в при наличии (отсутствии) элементов: Ќом —ч‘ѕрод или ƒата —ч‘ѕрод или Ќом»спр —ч‘ или ƒата»спр —ч‘ или –аз—т —ч‘”м.</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  –азЌƒ— —ч‘”в в  зависимости  от наличи€ –аз—т —ч‘”в -->
                                                            <sch:assert test="usch:iif( count(@–аз—т —ч‘”в)!=0 ,  count(@–азЌƒ— —ч‘”в)!=0 , (count(@–азЌƒ— —ч‘”в)!=0 or count(@–азЌƒ— —ч‘”в)=0))  ">
                                                                <usch:error code="0400300001" path="@–азЌƒ— —ч‘”в" value-of-select="count(@–азЌƒ— —ч‘”в)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/–азЌƒ— —ч‘”в при наличии (отсутствии) элемента –аз—т —ч‘”в.</usch:error>
                                                            </sch:assert>
                                                            <!-- “абл.4.8.  онтроль  об€зательности  присутстви€  –азЌƒ— —ч‘”м в  зависимости  от наличи€ –аз—т —ч‘”м -->
                                                            <sch:assert test="usch:iif( count(@–аз—т —ч‘”м)!=0 ,  count(@–азЌƒ— —ч‘”м)!=0 , (count(@–азЌƒ— —ч‘”м)!=0 or count(@–азЌƒ— —ч‘”м)=0))  ">
                                                                <usch:error code="0400300001" path="@–азЌƒ— —ч‘”м" value-of-select="count(@–азЌƒ— —ч‘”м)">Ќе выполнено условие присутстви€ (отсутстви€) элемента ‘айл/ƒокумент/∆”чѕолуч—ч‘/∆”чѕолуч—ч‘—тр/–азЌƒ— —ч‘”м при наличии (отсутствии) элемента –аз—т —ч‘”м.</usch:error>
                                                            </sch:assert>
                                                        </sch:rule>
                                                    </sch:pattern>
                                                </xs:appinfo>
                                                <!---**********************************************************************************************************************************************-->
                                                <xs:documentation>—ведени€ по строке из журнала учета полученных счетов-фактур в отношении операций, осуществл€емых в интересах другого лица на основе договоров комиссии, агентских договоров или на основе договоров транспортной экспедиции, отражаемых за истекший налоговый период</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name=" од¬идќпер" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation> од вида операции</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:length value="2"/>
                                                                <xs:enumeration value="01"/>
                                                                <xs:enumeration value="02"/>
                                                                <xs:enumeration value="03"/>
                                                                <xs:enumeration value="04"/>
                                                                <xs:enumeration value="05"/>
                                                                <xs:enumeration value="06"/>
                                                                <xs:enumeration value="07"/>
                                                                <xs:enumeration value="08"/>
                                                                <xs:enumeration value="09"/>
                                                                <xs:enumeration value="10"/>
                                                                <xs:enumeration value="11"/>
                                                                <xs:enumeration value="12"/>
                                                                <xs:enumeration value="13"/>
                                                                <xs:enumeration value="15"/>
                                                                <xs:enumeration value="16"/>
                                                                <xs:enumeration value="17"/>
                                                                <xs:enumeration value="18"/>
                                                                <xs:enumeration value="19"/>
                                                                <xs:enumeration value="20"/>
                                                                <xs:enumeration value="21"/>
                                                                <xs:enumeration value="22"/>
                                                                <xs:enumeration value="23"/>
                                                                <xs:enumeration value="24"/>
                                                                <xs:enumeration value="25"/>
                                                                <xs:enumeration value="26"/>
                                                                <xs:enumeration value="27"/>
                                                                <xs:enumeration value="28"/>
                                                                <xs:enumeration value="29"/>
                                                                <xs:enumeration value="30"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="—вѕрод" type="—в”ч—д“ип" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>—ведени€ о продавце</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="—в омис" type="—в”ч—д“ип" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>—ведени€ о субкомиссинере (субагенте)</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Ќомерѕор" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>ѕор€дковый номер</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="1"/>
                                                            <xs:totalDigits value="12"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="ƒатаѕолуч" type="ƒата“ип" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>ƒата получени€</xs:documentation>
                                                        <xs:documentation>
                                                            ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="Ќом—ч‘ѕрод" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Ќомер счета-фактуры</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="1000"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="ƒата—ч‘ѕрод" type="ƒата“ип" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>ƒата счета-фактуры</xs:documentation>
                                                        <xs:documentation>
                                                            ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="Ќом»спр—ч‘" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>Ќомер исправлени€ счета-фактуры</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="1"/>
                                                            <xs:totalDigits value="3"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="ƒата»спр—ч‘" type="ƒата“ип" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>ƒата исправлени€ счета-фактуры</xs:documentation>
                                                        <xs:documentation>
                                                            ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="Ќом —ч‘ѕрод" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>Ќомер корректировочного счета-фактуры</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="256"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="ƒата —ч‘ѕрод" type="ƒата“ип" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>ƒата корректировочного счета-фактуры</xs:documentation>
                                                        <xs:documentation>
                                                            ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="Ќом»спр —ч‘" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>Ќомер исправлени€ корректировочного счета-фактуры</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="1"/>
                                                            <xs:totalDigits value="3"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="ƒата»спр —ч‘" type="ƒата“ип" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>ƒата исправлени€ корректировочного счета-фактуры</xs:documentation>
                                                        <xs:documentation>
                                                            ƒата в формате ƒƒ.ћћ.√√√√</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name=" од¬ид—д" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation> од вида сделки</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:length value="1"/>
                                                            <xs:enumeration value="1"/>
                                                            <xs:enumeration value="2"/>
                                                            <xs:enumeration value="3"/>
                                                            <xs:enumeration value="4"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="ќ ¬" type="ќ ¬“ип" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation> од валюты по ќ ¬</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="—тоим“ов—ч‘¬с" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>—тоимость товаров (работ, услуг), имущественных прав по счету-фактуре - всего</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="19"/>
                                                            <xs:fractionDigits value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="—умЌƒ——ч‘" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>¬ том числе сумма налога по счету-фактуре</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="19"/>
                                                            <xs:fractionDigits value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="–аз—т —ч‘”м" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>–азница стоимости с учетом налога по корректировочному счету-фактуре - уменьшение</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="19"/>
                                                            <xs:fractionDigits value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="–аз—т —ч‘”в" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>–азница стоимости с учетом налога по корректировочному счету-фактуре - увеличение</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="19"/>
                                                            <xs:fractionDigits value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="–азЌƒ— —ч‘”м" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>–азница налога по корректировочному счету-фактуре - уменьшение</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="19"/>
                                                            <xs:fractionDigits value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="–азЌƒ— —ч‘”в" use="optional">
                                                    <xs:annotation>
                                                        <xs:documentation>–азница налога по корректировочному счету-фактуре - увеличение</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:decimal">
                                                            <xs:totalDigits value="19"/>
                                                            <xs:fractionDigits value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="»ндекс" use="required">
                            <xs:annotation>
                                <xs:documentation>»ндекс</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base=" Ќƒ“ип">
                                    <xs:enumeration value="0000110"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Ќом орр" use="required">
                            <xs:annotation>
                                <xs:documentation>Ќомер корректировки</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:totalDigits value="3"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ѕризн—вед11" use="optional">
                            <xs:annotation>
                                <xs:documentation>ѕризнак актуальности ранее представленных сведений (из журнала учета полученных счетов-фактур в отношении операций, осуществл€емых в интересах другого лица на основе договоров комиссии, агентских договоров или на основе договоров транспортной экспедиции, отражаемых за истекший налоговый период)</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:length value="1"/>
                                    <xs:enumeration value="0"/>
                                    <xs:enumeration value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="»д‘айл" use="required">
                <xs:annotation>
                    <xs:documentation>»дентификатор файла</xs:documentation>
                    <xs:documentation>—одержит (повтор€ет) им€ сформированного файла (без расширени€)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="¬ерсѕрог" use="required">
                <xs:annotation>
                    <xs:documentation>¬ерси€ программы, с помощью которой сформирован файл</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="¬ерс‘орм" use="required">
                <xs:annotation>
                    <xs:documentation>¬ерси€ формата</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="5"/>
                        <xs:enumeration value="5.04"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="—в”ч—д“ип">
        <xs:annotation>
            <xs:documentation>—ведени€ об участнике сделки</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="—ведёЋ">
                <xs:annotation>
                    <xs:documentation>—ведени€ об организации</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип" use="required">
                        <xs:annotation>
                            <xs:documentation>»ЌЌ организации</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name=" ѕѕ" type=" ѕѕ“ип" use="required">
                        <xs:annotation>
                            <xs:documentation> ѕѕ</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="—вед»ѕ">
                <xs:annotation>
                    <xs:documentation>—ведени€ об индивидуальном предпринимателе</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип" use="required">
                        <xs:annotation>
                            <xs:documentation>»ЌЌ физического лица</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="»ЌЌ‘Ћ“ип">
        <xs:annotation>
            <xs:documentation>»дентификационный номер налогоплательщика - физического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="»ЌЌёЋ“ип">
        <xs:annotation>
            <xs:documentation>»дентификационный номер налогоплательщика - организации</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name=" ѕѕ“ип">
        <xs:annotation>
            <xs:documentation> од причины постановки на учет ( ѕѕ) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
            <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name=" Ќƒ“ип">
        <xs:annotation>
            <xs:documentation> од из  лассификатора налоговой документации</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="7"/>
            <xs:pattern value="[0-9]{7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ќ ¬“ип">
        <xs:annotation>
            <xs:documentation> од из ќбщероссийского классификатора валют</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ƒата“ип">
        <xs:annotation>
            <xs:documentation>ƒата в формате ƒƒ.ћћ.√√√√ (01.01.1900 - 31.12.2099)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
