gwtapp/src/main/webapp/META-INF/wsdl/AuditManagementService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="AuditManagementService" targetNamespace="http://taxaccounting.sbrf.aplana.com/AuditManagementService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://taxaccounting.sbrf.aplana.com/AuditManagementService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="http://taxaccounting.sbrf.aplana.com/AuditManagementService/" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="addAuditLog" type="tns:addAuditLog"/>
            <element name="addAuditLogResponse">
                <complexType/>
            </element>
            <element name="fault" type="tns:FaultInfo"/>

            <complexType name="addAuditLog">
                <sequence>
                    <element name="auditLog" type="tns:AuditLog" minOccurs="1"/>
                </sequence>
            </complexType>

            <complexType name="AuditLog">
                <sequence>
                    <element name="userInfo" type="tns:UserInfo"/>
                    <element name="note" type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="UserInfo">
                <sequence>
                    <element name="user" type="tns:User"/>
                    <element name="ip" type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="User">
                <sequence>
                    <element name="login" type="xsd:string"/>
                    <element name="name" type="xsd:string"/>
                    <element name="roles">
                        <complexType>
                            <sequence>
                                <element name="role" type="tns:Role" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="departmentId" type="xsd:int"/>
                </sequence>
            </complexType>

            <complexType name="Role">
                <sequence>
                    <element name="name" type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="FaultInfo">
                <sequence>
                    <element name="code" nillable="true" type="xsd:string"/>
                    <element name="details" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>

        </schema>
    </wsdl:types>

    <wsdl:message name="addAuditLog">
        <wsdl:part name="parameters" element="tns:addAuditLog"/>
    </wsdl:message>
    <wsdl:message name="addAuditLogResponse">
        <wsdl:part name="parameters" element="tns:addAuditLogResponse"/>
    </wsdl:message>
    <wsdl:message name="ServiceException">
        <wsdl:part element="tns:fault" name="fault"/>
    </wsdl:message>

    <wsdl:portType name="AuditManagementService">
        <wsdl:operation name="addAuditLog">
            <wsdl:input message="tns:addAuditLog"/>
            <wsdl:output message="tns:addAuditLogResponse"/>
            <wsdl:fault message="tns:ServiceException" name="ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AuditManagementServicePortBinding" type="tns:AuditManagementService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addAuditLog">
            <soap:operation soapAction="http://taxaccounting.sbrf.aplana.com/AuditManagementService/addAuditLog"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="AuditManagementService">
        <wsdl:port name="AuditManagementServicePort" binding="tns:AuditManagementServicePortBinding">
            <soap:address location="http://172.16.127.18/taxaccounting-unstable/gwtapp/AuditManagementService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>