gwtapp/src/main/webapp/META-INF/wsdl/DepartmentManagementService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="DepartmentManagementService" targetNamespace="http://taxaccounting.sbrf.aplana.com/DepartmentManagementService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://taxaccounting.sbrf.aplana.com/DepartmentManagementService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://taxaccounting.sbrf.aplana.com/DepartmentManagementService/">
			<xsd:element name="requestAllChanges" type="tns:requestAllChanges"/>
			<xsd:element name="requestAllChangesResponse" type="tns:requestAllChangesResponse"/>
			<xsd:complexType name="requestAllChanges">
				<xsd:sequence/>
			</xsd:complexType>
			<xsd:complexType name="requestAllChangesResponse">
				<xsd:sequence>
					<xsd:element name="return" type="tns:TaxDepartmentChanges" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TaxDepartmentChanges">
				<xsd:sequence>
					<xsd:element name="errorCode" type="xsd:string"/>
					<xsd:element name="errorText" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestAllChanges">
		<wsdl:part name="parameters" element="tns:requestAllChanges"/>
	</wsdl:message>
	<wsdl:message name="requestAllChangesResponse">
		<wsdl:part name="parameters" element="tns:requestAllChangesResponse"/>
	</wsdl:message>
	<wsdl:portType name="DepartmentManagementService">
		<wsdl:operation name="requestAllChanges">
			<wsdl:input message="tns:requestAllChanges"/>
			<wsdl:output message="tns:requestAllChangesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DepartmentManagementServicePortBinding" type="tns:DepartmentManagementService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="requestAllChanges">
			<soap:operation soapAction="http://taxaccounting.sbrf.aplana.com/DepartmentManagementService/requestAllChanges"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DepartmentManagementService">
		<wsdl:port name="DepartmentManagementServicePort" binding="tns:DepartmentManagementServicePortBinding">
			<soap:address location="http://172.16.127.18/taxaccounting-unstable/gwtapp/DepartmentManagementServicee"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>