database/database-2.2.2/templates/data/refbook/person.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--Created with Liquid Studio 2017 - Developer Bundle Edition (Trial) 15.1.16.7872 (https://www.liquid-technologies.com)-->
<!-- Версия 2.1. от 08.12.2011 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Файл">
        <xs:annotation>
            <xs:documentation>Данные по физическим лицам</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="СлЧасть">
                    <xs:annotation>
                        <xs:documentation>Служебная часть</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:annotation>
                            <xs:documentation>Служебная информация</xs:documentation>
                        </xs:annotation>
                        <xs:attribute name="ИдФайл" use="required">
                            <xs:annotation>
                                <xs:documentation>Идентификатор файла:  наименование файла  </xs:documentation>
                                <xs:documentation>Повторяет имя передаваемого файла (без расширения)</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="500"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ВрВыгр" use="required">
                            <xs:annotation>
                                <xs:documentation>Время формирования выгрузки в формате YYYY-MM-DDThh:mm:ss (таймзона GMT)</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ТБ">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="500"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ИнфЧасть" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Состав и структура данных по физическим лицам </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="АнкетДаннФЛ">
                                <xs:annotation>
                                    <xs:documentation>Данные о физическом лице </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="ФамФЛ" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Фамилия</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="60"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ИмяФЛ" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Имя</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="60"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ОтчФЛ" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Отчество</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="60"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ДатаРожд" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Дата рождения</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                                <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(19[0-9]{2}|20[0-9]{2})"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Гражд" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Гражданство (код страны)</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="3"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ИННФЛ" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>ИНН  физического лица</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="12"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ИННИно" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>ИНН  иностранного гражданина</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="50"/>
                                                <xs:minLength value="0"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="СтатусФЛ" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Статус</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:totalDigits value="1"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="КодРегион" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Код Региона</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Индекс" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Индекс</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="6"/>
                                                <xs:pattern value="[0-9]{6}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Район" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Район</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="500"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Город" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Город</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="500"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="НаселПункт" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Населенный пункт</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="500"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Улица" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Улица</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="500"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Дом" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Дом</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Корпус" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Корпус</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Кварт" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Квартира</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="20"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="КодСтрИно" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Код страны иностранного гражданина</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="3"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="АдресИно" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Адрес иностранного гражданина</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="255"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="УдЛичнФЛ" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Сведения о документах, удостоверяющих личность физического лица</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="УдЛичнФЛВид" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Код вида документа</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="2"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="УдЛичнФЛНом" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Серия и номер документа</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="25"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="УдЛичнФЛГл" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Основной документ. Может принимать значение:
                                                a) 0 – «Нет»
                                                b) 1 – «Да»
                                                Если у ФЛ указан только один документ, то по умолчанию атрибут принимает значение 1 – «Да».</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:integer">
                                                <xs:totalDigits value="1"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="СисИсточ" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Система-источник, из который были загружены данные</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="СисИсточНам" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Наименование Системы-источника, из который были загружены данные</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="СисИсточИНП" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>ИНП физического лица в Системе-источнике</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="25"/>
                                                <xs:minLength value="0"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="СведИстДох">
                                <xs:annotation>
                                    <xs:documentation>Сведения о КПП/ОКТМО источника дохода</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="КПП" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:length value="9"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ОКТМО" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="8"/>
                                                <xs:maxLength value="11"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ИдФЛ" use="required">
                            <xs:annotation>
                                <xs:documentation>Номер справки для физического лица в АС ЦФО НДФЛ </xs:documentation>
                                <xs:documentation>Повторяет имя передаваемого файла (без расширения)</xs:documentation>
                                <xs:documentation/>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="50"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="ДатаТип">
        <xs:annotation>
            <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
            <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(19[0-9]{2}|20[0-9]{2})"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
