database/distr/v1.0/templates/data/ndfl/primary_rnu_ndfl/v2016/rnu_ndfl_light.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Ovchinnikova-EW (SBRF) -->
<!-- Версия 2.1. от 08.12.2011 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Реквизиты налогоплательщика и сведения о его доходах.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СлЧасть">
					<xs:annotation>
						<xs:documentation>Служебная часть</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>Служебная информация</xs:documentation>
						</xs:annotation>
						<xs:attribute name="ИдФайл" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор файла: Код_подразделения
Код_отчетного периода
Код_подсистемы год месяц день часы минуты секунды
GUID</xs:documentation>
								<xs:documentation>Повторяет имя передаваемого файла (без расширения)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="59"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="КодПодр" use="required">
							<xs:annotation>
								<xs:documentation>Код подразделения</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="17"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="КодАС" use="required">
							<xs:annotation>
								<xs:documentation>Код подсистемы</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ВрВыгр" use="required">
							<xs:annotation>
								<xs:documentation>Время формирования выгрузки в формате YYYY-MM-DDThh:mm:ss (таймзона GMT)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ТипИнф" use="required">
							<xs:annotation>
								<xs:documentation>Тип информации (РНУ НДФЛ)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="12"/>
									<xs:enumeration value="РНУ НДФЛ"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаОтч" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Отчётная дата</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="ИнфЧасть" maxOccurs="15000">
					<xs:annotation>
						<xs:documentation>Состав и структура документа (справки) о доходах физического лица по форме 2-НДФЛ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ПолучДох">
								<xs:annotation>
									<xs:documentation>Данные о физическом лице - получателе дохода</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="ИНП" use="required">
										<xs:annotation>
											<xs:documentation>Уникальный код клиента</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="25"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СНИЛС" use="optional">
										<xs:annotation>
											<xs:documentation>Страховой номер индивидуального лицевого счёта</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="14"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ФамФЛ" use="required">
										<xs:annotation>
											<xs:documentation>Фамилия</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИмяФЛ" use="required">
										<xs:annotation>
											<xs:documentation>Имя</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ОтчФЛ" use="optional">
										<xs:annotation>
											<xs:documentation>Отчество</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="36"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДатаРожд" use="required">
										<xs:annotation>
											<xs:documentation>Дата рождения</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Гражд" use="required">
										<xs:annotation>
											<xs:documentation>Гражданство (код страны)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИННФЛ" use="optional">
										<xs:annotation>
											<xs:documentation>ИНН  физического лица</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="12"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИННИно" use="optional">
										<xs:annotation>
											<xs:documentation>ИНН  иностранного гражданина</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="УдЛичнФЛКод" use="required">
										<xs:annotation>
											<xs:documentation>Код вида документа</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="УдЛичнФЛНом" use="required">
										<xs:annotation>
											<xs:documentation>Серия и номер документа</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="25"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СтатусФЛ" use="required">
										<xs:annotation>
											<xs:documentation>Статус</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:totalDigits value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Индекс" use="optional">
										<xs:annotation>
											<xs:documentation>Индекс</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="6"/>
												<xs:pattern value="[0-9]{6}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="КодРегион" use="optional">
										<xs:annotation>
											<xs:documentation>Код Региона</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Район" use="optional">
										<xs:annotation>
											<xs:documentation>Район</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Город" use="optional">
										<xs:annotation>
											<xs:documentation>Город</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="НаселПункт" use="optional">
										<xs:annotation>
											<xs:documentation>Населенный пункт</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Улица" use="optional">
										<xs:annotation>
											<xs:documentation>Улица</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Дом" use="optional">
										<xs:annotation>
											<xs:documentation>Дом</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Корпус" use="optional">
										<xs:annotation>
											<xs:documentation>Корпус</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Кварт" use="optional">
										<xs:annotation>
											<xs:documentation>Квартира</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="КодСтрИно" use="optional">
										<xs:annotation>
											<xs:documentation>Код страны</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="АдресИно" use="optional">
										<xs:annotation>
											<xs:documentation>Адрес</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДопИнф" use="optional">
										<xs:annotation>
											<xs:documentation>Дополнительная информация</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СведОпер" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о доходах физического лица</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведДохНал" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="НомСтр" type="xs:integer" use="required">
													<xs:annotation>
														<xs:documentation>Порядковый номер строки</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КодДох" use="optional">
													<xs:annotation>
														<xs:documentation>Код дохода</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ТипДох" use="optional">
													<xs:annotation>
														<xs:documentation>Признак дохода</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаДохНач" type="ДатаТип" use="optional">
													<xs:annotation>
														<xs:documentation>Дата начисления дохода</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаДохВыпл" type="ДатаТип">
													<xs:annotation>
														<xs:documentation>Дата выпрлаты доходоа</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СуммДохНач" use="optional">
													<xs:annotation>
														<xs:documentation>Сумма начисленного  дохода</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="20"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СуммДохВыпл">
													<xs:annotation>
														<xs:documentation>Сумма выплаченного дохода</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="20"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумВыч" use="optional">
													<xs:annotation>
														<xs:documentation>Общая сумма вычетов</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="20"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НалБаза" use="optional">
													<xs:annotation>
														<xs:documentation>Налоговая база</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="20"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Ставка" use="optional">
													<xs:annotation>
														<xs:documentation>Ставка налога</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаНалог" type="ДатаТип" use="optional">
													<xs:annotation>
														<xs:documentation>Дата налога</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НИ" use="optional">
													<xs:annotation>
														<xs:documentation>Сумма налога исчисленная</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НУ" use="optional">
													<xs:annotation>
														<xs:documentation>Сумма налога удержанная</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НИминусНУ" use="optional">
													<xs:annotation>
														<xs:documentation>Разница НИ и НУ</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДолгНП" use="optional">
													<xs:annotation>
														<xs:documentation>Сумма налога, не удержанная налоговым агентом</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДолгНА" use="optional">
													<xs:annotation>
														<xs:documentation>Сумма налога, излишне удержанная налоговым агентом</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ВозврНал" use="optional">
													<xs:annotation>
														<xs:documentation>Сумма возвращенного налога</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СрокПрчслНал" type="ДатаТип" use="optional">
													<xs:annotation>
														<xs:documentation>Срок перечисления налога</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ПлПоручДат" type="ДатаТип">
													<xs:annotation>
														<xs:documentation>Дата платежного поручения</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ПлатПоручНом" use="optional">
													<xs:annotation>
														<xs:documentation>Номер платежного поручения перечисления налога в бюджет</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НалПерСумм" use="optional">
													<xs:annotation>
														<xs:documentation>Сумма налога перечисленная</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СведВыч" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Стандартные, социальные и имущественные налоговые вычеты</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НомСтр" type="xs:integer" use="required">
													<xs:annotation>
														<xs:documentation>Порядковый номер строки</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ВычетКод" use="required">
													<xs:annotation>
														<xs:documentation>Код вычета</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="УведТип" use="required">
													<xs:annotation>
														<xs:documentation>Тип уведомления, подтверждающего право на налоговый вычет</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="УведДата" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Дата выдачи уведомления</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="УведНом" use="required">
													<xs:annotation>
														<xs:documentation>Номер уведомления, подтверждающего право на имущественный налоговый вычет</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="УведИФНС" use="required">
													<xs:annotation>
														<xs:documentation>Код налогового органа, выдавшего уведомление</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="УведСум">
													<xs:annotation>
														<xs:documentation>Сумма в соответствии с документом на вычет</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="20"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаДохНач" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Дата начисления дохода</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КодДох" use="required">
													<xs:annotation>
														<xs:documentation>Код дохода</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СуммДохНач" use="required">
													<xs:annotation>
														<xs:documentation>Сумма начисленного  дохода</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="20"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаПредВыч" type="ДатаТип">
													<xs:annotation>
														<xs:documentation>Дата применения вычета в предыдущем периоде</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СумПредВыч">
													<xs:annotation>
														<xs:documentation>Сумма вычета применения вычета в предыдущем периоде</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="20"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаТекВыч" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Дата применения вычета в текущем периоде</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СумТекВыч" use="required">
													<xs:annotation>
														<xs:documentation>Сумма вычета применения вычета в текущкм периоде</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="20"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СведАванс" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="НомСтр" type="xs:integer" use="required">
													<xs:annotation>
														<xs:documentation>Порядковый номер строки</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Аванс" use="required">
													<xs:annotation>
														<xs:documentation>Сумма фиксированного авансового платежа</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="УведНом" use="required">
													<xs:annotation>
														<xs:documentation>Номер уведомления, подтверждающего право на имущественный налоговый вычет</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="УведДата" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Дата выдачи уведомления</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="УведИФНС" use="required">
													<xs:annotation>
														<xs:documentation>Код налогового органа, выдавшего уведомление</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ИдОпер" type="xs:integer" use="required"/>
									<xs:attribute name="КПП" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="9"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ОКТМО" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="8"/>
												<xs:maxLength value="11"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ПериодОтч" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
							<xs:annotation>
								<xs:documentation>Отчетный год</xs:documentation>
								<xs:documentation>
Год в формате ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
