src/main/resources/form_template/land/declaration/v2016/NO_ZEMND_1_075_00_05_03_02.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвНП">
								<xs:annotation>
									<xs:documentation>Сведения о налогоплательщике</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="НПЮЛ">
											<xs:annotation>
												<xs:documentation>Налогоплательщик - юридическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвРеоргЮЛ" minOccurs="0">
														<xs:annotation>
															<xs:appinfo>
																<sch:pattern name="Присутствие атрибутов ИННЮЛ и КПП">
																	<sch:rule context="СвРеоргЮЛ">
																		<!-- Табл.4.5. Контроль  обязательности  присутствия  атрибутов  ИННЮЛ  и  КПП  в  зависимости  от  значения  атрибута  ФормРеорг       -->
																		<sch:assert test=" (count(@ИННЮЛ)!=0 and @ФормРеорг!=0) or (count(@ИННЮЛ)=0 and @ФормРеорг=0)  ">
																			<usch:error code="0400300003" path="@ИННЮЛ" value-of-select="@ФормРеорг"> Не выполнено условие присутствия элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/ИННЮЛ. </usch:error>
																		</sch:assert>
																		<sch:assert test=" (count(@КПП)!=0 and @ФормРеорг!=0) or (count(@КПП)=0 and @ФормРеорг=0)  ">
																			<usch:error code="0400300003" path="@КПП" value-of-select="@ФормРеорг"> Не выполнено условие присутствия элемента Файл/Документ/СвНП/НПЮЛ/СвРеоргЮЛ/КПП. </usch:error>
																		</sch:assert>
																	</sch:rule>
																</sch:pattern>
															</xs:appinfo>
															<xs:documentation>Сведения о реорганизованной (ликвидированной) организации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ФормРеорг" use="required">
																<xs:annotation>
																	<xs:documentation>Код формы реорганизации (ликвидация)</xs:documentation>
																	<xs:documentation>Принимает значение:
0 – ликвидация   | 
1 – преобразование   | 
2 – слияние   | 
3 – разделение   | 
5 – присоединение   | 
6 – разделение с одновременным присоединением</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																		<xs:enumeration value="3"/>
																		<xs:enumeration value="5"/>
																		<xs:enumeration value="6"/>
																		<xs:enumeration value="0"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН организации</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="КПП" type="КППТип" use="optional">
																<xs:annotation>
																	<xs:documentation>КПП</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НаимОрг" use="required">
													<xs:annotation>
														<xs:documentation>Полное наименование организации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КПП" type="КППТип" use="optional">
													<xs:annotation>
														<xs:documentation>КПП</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="НПФЛ">
											<xs:annotation>
												<xs:documentation>Налогоплательщик - физическое лицо, зарегистрированное в качестве индивидуального предпринимателя</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИО" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН физического лица</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="ОКВЭД" type="ОКВЭДТип" use="required">
										<xs:annotation>
											<xs:documentation>Код по ОКВЭД </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Тлф" use="optional">
										<xs:annotation>
											<xs:documentation>Номер контактного телефона</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Подписант">
								<xs:annotation>
									<xs:appinfo>
										<sch:pattern name="Присутствие сведений о представителе">
											<sch:rule context="Подписант">
												<!-- Табл.4.6. Контроль  обязательности  присутствия  Сведений  о  представителе  налогоплательщика  в  зависимости  от  значения  ПрПодп          -->
												<sch:assert test=" (count(СвПред)!=0 and @ПрПодп=2) or (count(СвПред)=0 and @ПрПодп=1)  ">
													<usch:error code="0400300003" path="Подписант" value-of-select=""> Не выполнено условие присутствия элемента СвПред. </usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<xs:documentation>Сведения о лице, подписавшем документ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="ФИОТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвПред" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о представителе налогоплательщика</xs:documentation>
												<xs:documentation>Обязательно для «ПрПодп»=2</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НаимДок" use="required">
													<xs:annotation>
														<xs:documentation>Наименование документа, подтверждающего полномочия представителя налогоплательщика </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимОрг" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование организации </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПрПодп" use="required">
										<xs:annotation>
											<xs:documentation>Признак лица, подписавшего документ</xs:documentation>
											<xs:documentation>Принимает значение:
1 – налогоплательщик   |
2 – представитель налогоплательщика</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ЗемНалНД">
								<xs:annotation>
									<xs:documentation>Налоговая декларация по земельному налогу</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СумПУ" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сумма земельного налога, подлежащая уплате в бюджет</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="РасчПлатЗН" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Расчет налоговой базы и суммы земельного налога</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ОпрНалБаза">
																	<xs:annotation>
																		<xs:documentation>Определение налоговой базы</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Льгот387_2Сум" type="СумНеОбл2" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Льгота в виде не облагаемой налогом суммы (п. 2 ст. 387 Кодекса)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Льгот391_5" type="СумНеОбл" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Льгота в виде не облагаемой налогом суммы (п. 5 ст. 391 Кодекса)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Льгот387_2Пл" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Льгота в виде доли необлагаемой площади земельного участка (п. 2 ст. 387 Кодекса)</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:attribute name="КодНалЛьгот" use="required">
																						<xs:annotation>
																							<xs:documentation>Код налоговой льготы</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="20"/>
																								<xs:pattern value="([0-9]{7})/(............)"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="ДоляПлЗУ" type="ПростДроб21" use="required">
																						<xs:annotation>
																							<xs:documentation>Доля необлагаемой площади земельного участка</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="НалБаза" use="required">
																			<xs:annotation>
																				<xs:documentation>Налоговая база</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="СумНалИсчисл">
																	<xs:annotation>
																		<xs:documentation>Исчисление суммы земельного налога</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Льгот387_2Осв" type="СумЛьгот2" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Льгота в виде освобождения от налогообложения (п. 2 ст. 387 Кодекса)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Льгот395" type="СумЛьгот" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Льгота в виде освобождения от налогообложения (ст. 395, ст.7 Кодекса)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Льгот387_2УмСум" type="СумЛьгот2" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Льгота в виде уменьшения суммы налога (п. 2 ст. 387 Кодекса)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Льгот387_2СнСтав" type="СумЛьгот2" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Льгота в виде снижения налоговой ставки (п. 2 ст. 387 Кодекса)</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="КолМесВлЗУ" use="required">
																			<xs:annotation>
																				<xs:documentation>Количество полных месяцев владения земельным участком в течение налогового периода</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="2"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="Кв" use="required">
																			<xs:annotation>
																				<xs:documentation>Коэффициент (Кв)</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="5"/>
																					<xs:fractionDigits value="4"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СумНалИсчисл" use="required">
																			<xs:annotation>
																				<xs:documentation>Сумма исчисленного налога</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="КолМесЛьгот" use="optional">
																			<xs:annotation>
																				<xs:documentation>Количество полных месяцев использования  льготы</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="2"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="Кл" use="required">
																			<xs:annotation>
																				<xs:documentation>Коэффициент (Кл)</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="5"/>
																					<xs:fractionDigits value="4"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СумНалУплат" use="required">
																			<xs:annotation>
																				<xs:documentation>Исчисленная сумма налога, подлежащая уплате в бюджет за налоговый период</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="НомКадастрЗУ" use="required">
																<xs:annotation>
																	<xs:documentation>Кадастровый номер земельного участка </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="100"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="КатегорЗем" use="required">
																<xs:annotation>
																	<xs:documentation>Категория земель (код)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="12"/>
																		<xs:pattern value="[0-9]{12}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ПерСтр" use="optional">
																<xs:annotation>
																	<xs:documentation>Период строительства (1 - 3 года, 2 - свыше 3 лет)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="СтКадастрЗУ" use="required">
																<xs:annotation>
																	<xs:documentation>Кадастровая стоимость (доля кадастровой стоимости) земельного участка (руб.)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДоляЗУ" type="ПростДроб21" use="optional">
																<xs:annotation>
																	<xs:documentation>Доля налогоплательщика в праве на земельный 
участок</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НалСтав" use="required">
																<xs:annotation>
																	<xs:documentation>Налоговая ставка</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="5"/>
																		<xs:fractionDigits value="4"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="КБК" use="required">
													<xs:annotation>
														<xs:documentation>Код бюджетной классификации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="КБКТип"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ОКТМО" type="ОКТМОТип" use="required">
													<xs:annotation>
														<xs:documentation>Код по ОКТМО</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НалИсчисл" use="required">
													<xs:annotation>
														<xs:documentation>Исчисленная сумма налога, подлежащая уплате в бюджет за налоговый период</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="АвПУКв1" use="required">
													<xs:annotation>
														<xs:documentation>В т.ч. сумма авансовых платежей, подлежащая уплате в бюджет за первый квартал</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="АвПУКв2" use="required">
													<xs:annotation>
														<xs:documentation>В т.ч. сумма авансовых платежей, подлежащая уплате в бюджет за второй квартал</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="АвПУКв3" use="required">
													<xs:annotation>
														<xs:documentation>В т.ч. сумма авансовых платежей, подлежащая уплате в бюджет за третий квартал</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НалПУ" use="required">
													<xs:annotation>
														<xs:documentation>Сумма налога, подлежащая уплате в бюджет (Сумма налога, исчисленная к уменьшению)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="НаимСРП" use="optional">
										<xs:annotation>
											<xs:documentation>Наименование соглашения о разделе продукции (для участков недр, предоставленных в пользование на условиях СРП)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="160"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код формы отчетности по КНД</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1153005"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата формирования документа</xs:documentation>
								<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Период" use="required">
							<xs:annotation>
								<xs:documentation>Налоговый период (код)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:enumeration value="34"/>
									<xs:enumeration value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
							<xs:annotation>
								<xs:documentation>Отчетный год</xs:documentation>
								<xs:documentation>
Год в формате ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КодНО" type="СОНОТип" use="required">
							<xs:annotation>
								<xs:documentation>Код налогового органа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомКорр" use="required">
							<xs:annotation>
								<xs:documentation>Номер корректировки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ПоМесту" use="required">
							<xs:annotation>
								<xs:documentation>Код места, по которому представляется документ</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
									<xs:enumeration value="213"/>
									<xs:enumeration value="216"/>
									<xs:enumeration value="250"/>
									<xs:enumeration value="270"/>
									<xs:enumeration value="251"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="СумНеОбл">
		<xs:annotation>
			<xs:documentation>Сведения по не облагаемой налогом сумме</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодНалЛьгот" use="required">
			<xs:annotation>
				<xs:documentation>Код налоговой льготы</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="7"/>
					<xs:pattern value="[0-9]{7}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СумНеОбл" use="required">
			<xs:annotation>
				<xs:documentation>Не облагаемая налогом сумма</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="15"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СумНеОбл2">
		<xs:annotation>
			<xs:documentation>Сведения по не облагаемой налогом сумме (с указанием основания льготы)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодНалЛьгот" use="required">
			<xs:annotation>
				<xs:documentation>Код налоговой льготы</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="20"/>
					<xs:pattern value="([0-9]{7})/(............)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СумНеОбл" use="required">
			<xs:annotation>
				<xs:documentation>Не облагаемая налогом сумма</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="15"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СумЛьгот">
		<xs:annotation>
			<xs:documentation>Сведения по сумме налоговой льготы</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодНалЛьгот" use="required">
			<xs:annotation>
				<xs:documentation>Код налоговой льготы</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="7"/>
					<xs:pattern value="[0-9]{7}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СумЛьг" use="required">
			<xs:annotation>
				<xs:documentation>Сумма налоговой льготы</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="15"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СумЛьгот2">
		<xs:annotation>
			<xs:documentation>Сведения по сумме налоговой льготы (с указанием основания льготы)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодНалЛьгот" use="required">
			<xs:annotation>
				<xs:documentation>Код налоговой льготы</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="20"/>
					<xs:pattern value="([0-9]{7})/(............)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СумЛьг" use="required">
			<xs:annotation>
				<xs:documentation>Сумма налоговой льготы</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="15"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})(([1-35-9A-F]{1}[0-9A-F]{1})|(0[0-7A-F]{1})|(4[0-58-9A-F]{1}))([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КБКТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора бюджетной классификации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКТМОТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора территорий муниципальных образований</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]{8}"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора видов экономической деятельности</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="2"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ПростДроб21">
		<xs:annotation>
			<xs:documentation>Простая дробь в формате: (от 1 до 10 знаков)/(от 1 до 10 знаков), где ведущие нули в числителе и знаменателе недопустимы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="21"/>
			<xs:pattern value="([1-9]{1}|[1-9]{1}[0-9]{1}|[1-9]{1}[0-9]{0,2}|[1-9]{1}[0-9]{0,3}|[1-9]{1}[0-9]{0,4}|[1-9]{1}[0-9]{0,5}|[1-9]{1}[0-9]{0,6}|[1-9]{1}[0-9]{0,7}|[1-9]{1}[0-9]{0,8}|[1-9]{1}[0-9]{0,9})/([1-9]{1}|[1-9]{1}[0-9]{1}|[1-9]{1}[0-9]{0,2}|[1-9]{1}[0-9]{0,3}|[1-9]{1}[0-9]{0,4}|[1-9]{1}[0-9]{0,5}|[1-9]{1}[0-9]{0,6}|[1-9]{1}[0-9]{0,7}|[1-9]{1}[0-9]{0,8}|[1-9]{1}[0-9]{0,9})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
