database/patches/v1.1.0/templates/data/ndfl/report_6ndfl/v2016/UU_OTCH_1_087_00_05_07_01.xsd

<?xml version="1.0" encoding="WINDOWS-1251" ?>
<!-- created by  Sbis 3.0 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema">                                    

  <xs:element name="Ôàéë">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="Äîêóìåíò">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="1" name="ÑâÎòïð">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element maxOccurs="1" minOccurs="1" name="ÎòïðÞË">
                        <xs:complexType>
                          <xs:attribute name="ÍàèìÎðã" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="1000"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="ÈÍÍÞË" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="10"/>
                                <xs:maxLength value="10"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="ÊÏÏ" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="9"/>
                                <xs:maxLength value="9"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="1" name="ÎòïðÔË">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="ÔÈÎ">
                              <xs:complexType>
                                <xs:attribute name="Ôàìèëèÿ" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Èìÿ" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Îò÷åñòâî" use="optional">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="ÈÍÍÔË" use="optional">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="12"/>
                                <xs:maxLength value="12"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="1" minOccurs="1" name="ÑâÍÏ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element maxOccurs="1" minOccurs="1" name="ÍÏÞË">
                        <xs:complexType>
                          <xs:attribute name="ÍàèìÎðã" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="1000"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="ÈÍÍÞË" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="10"/>
                                <xs:maxLength value="10"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="ÊÏÏ" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="9"/>
                                <xs:maxLength value="9"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="1" minOccurs="1" name="ÍÏÔË">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1" name="ÔÈÎ">
                              <xs:complexType>
                                <xs:attribute name="Ôàìèëèÿ" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Èìÿ" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Îò÷åñòâî" use="optional">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="ÈÍÍÔË" use="optional">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="12"/>
                                <xs:maxLength value="12"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="1" minOccurs="1" name="ÑâåäÓâåä">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="ÎáùÑâÓâåä">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="255" minOccurs="1" name="ÈìÿÎáðàáÔàéëà"/>
                          <xs:element maxOccurs="1" minOccurs="1" name="ÒåêñòÎøÎá"/>
                        </xs:sequence>
                        <xs:attribute name="ÈäÔàéë" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="255"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÈäÄîê" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="36"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÄàòàÏðèåì" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÏðîãðÊîìïë" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="80"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÐåãÍîì" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="50"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÊÍÄ" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="7"/>
                              <xs:maxLength value="7"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÍàèìÎò÷" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="500"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÍîìÊîðð" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="3"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Îò÷åòÃîä" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="4"/>
                              <xs:maxLength value="4"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Ïåðèîä" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÏåðèîäÍàèì" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="100"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÐåãÍîìÓâåä" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="20"/>
                              <xs:maxLength value="20"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÄàòàÔîðìÓâåä" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="10"/>
                              <xs:pattern value="[0-9\-\.]{4,10}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÊîäÎøÎá" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="10"/>
                              <xs:maxLength value="10"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ÐåêÍàë"/>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ÂûÿâëÎøÔàéë">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="1" minOccurs="1" name="ÈìÿÎáðàáÔàéëà"/>
                          <xs:element maxOccurs="unbounded" minOccurs="1" name="ÑâÏîÎøèáêå">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="1" name="ÒåêñòÎø"/>
                                <xs:element maxOccurs="1" minOccurs="0" name="ÈäÎø"/>
                              </xs:sequence>
                              <xs:attribute name="ÏîëÎøÝë" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="1000"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ÇíÝëåì" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="1000"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ÊîäÎøèáêè" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="10"/>
                                    <xs:maxLength value="10"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" minOccurs="0" name="ÑâÈäÔË">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="1" name="ÄàíÈäÔË_ÍÏ">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="1" minOccurs="1" name="ÔÈÎ">
                                        <xs:complexType>
                                          <xs:attribute name="Ôàìèëèÿ" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="60"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="Èìÿ" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="60"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="Îò÷åñòâî" use="optional">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="60"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element maxOccurs="unbounded" minOccurs="1" name="Çíà÷ÎøÝë"/>
                                    </xs:sequence>
                                    <xs:attribute name="ÑÍÈËÑ" use="required">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:minLength value="14"/>
                                          <xs:maxLength value="14"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ÈÍÍÔË" use="optional">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:minLength value="12"/>
                                          <xs:maxLength value="12"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ÊÍÄ" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="7"/>
                  <xs:maxLength value="7"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ÊîäÍÎ" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4"/>
                  <xs:maxLength value="4"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ÈäÔàéë" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ÂåðñÏðîã" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ÂåðñÔîðì" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
